body {
    background-color: lightgray;
}

.container {
    background-color: #b2bfda;
    color: darkblue;
}


p {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 20px;
}

h1 {
    font-family: 'Cinzel', serif;
    font-size: 65px;
    font-weight: bold;
    padding: 5px;
}
img {
    height: 160px;
    width: 100px;
}